In [8]:
import pandas as pd
from roster import Roster
from tradevalue import TradeValue

#change leagueid here
leagueid=0
team1 = Roster(leagueid=leagueid)
TradeValue_Class = TradeValue("https://www.thescore.com/news/2414990")

[2022-12-07 10:26:59,334 DEBUG] [yahoo_oauth.oauth.__init__] Checking
[2022-12-07 10:26:59,335 DEBUG] [yahoo_oauth.oauth.token_is_valid] ELAPSED TIME : 5462.614501953125
[2022-12-07 10:26:59,335 DEBUG] [yahoo_oauth.oauth.token_is_valid] TOKEN HAS EXPIRED
[2022-12-07 10:26:59,335 DEBUG] [yahoo_oauth.oauth.refresh_access_token] REFRESHING TOKEN
[2022-12-07 10:26:59,537 DEBUG] [yahoo_oauth.oauth.token_is_valid] ELAPSED TIME : 0.2013258934020996
[2022-12-07 10:26:59,538 DEBUG] [yahoo_oauth.oauth.token_is_valid] TOKEN IS STILL VALID
[2022-12-07 10:26:59,538 DEBUG] [yahoo_oauth.oauth.__init__] Checking
[2022-12-07 10:26:59,539 DEBUG] [yahoo_oauth.oauth.token_is_valid] ELAPSED TIME : 0.20273709297180176
[2022-12-07 10:26:59,539 DEBUG] [yahoo_oauth.oauth.token_is_valid] TOKEN IS STILL VALID
[2022-12-07 10:26:59,540 DEBUG] [yahoo_oauth.oauth.token_is_valid] ELAPSED TIME : 0.20375490188598633
[2022-12-07 10:26:59,540 DEBUG] [yahoo_oauth.oauth.token_is_valid] TOKEN IS STILL VALID
[2022-12-07 10:27:04,333 DEBUG] [yahoo_oauth.oauth.__init__] Checking
[2022-12-07 10:27:04,335 DEBUG] [yahoo_oauth.oauth.token_is_valid] ELAPSED TIME : 4.998986005783081
[2022-12-07 10:27:04,335 DEBUG] [yahoo_oauth.oauth.token_is_valid] TOKEN IS STILL VALID
[2022-12-07 10:27:04,340 DEBUG] [yahoo_oauth.oauth.token_is_valid] ELAPSED TIME : 5.0037620067596436
[2022-12-07 10:27:04,340 DEBUG] [yahoo_oauth.oauth.token_is_valid] TOKEN IS STILL VALID
[2022-12-07 10:27:04,342 DEBUG] [yahoo_oauth.oauth.__init__] Checking
[2022-12-07 10:27:04,342 DEBUG] [yahoo_oauth.oauth.token_is_valid] ELAPSED TIME : 5.00644588470459
[2022-12-07 10:27:04,343 DEBUG] [yahoo_oauth.oauth.token_is_valid] TOKEN IS STILL VALID
[2022-12-07 10:27:04,345 DEBUG] [yahoo_oauth.oauth.token_is_valid] ELAPSED TIME : 5.009082078933716
[2022-12-07 10:27:04,346 DEBUG] [yahoo_oauth.oauth.token_is_valid] TOKEN IS STILL VALID

In [3]:
JJets.roster_df

         player_name          team_name  percent_owned
0          Zach Ertz  The Full Nitschke             28
1        Cooper Kupp  The Full Nitschke             86
2       Mack Hollins  The Full Nitschke             29
3        Aaron Jones  The Full Nitschke            100
4      Lamar Jackson  The Full Nitschke             98
..               ...                ...            ...
150  Jeff Wilson Jr.       Whodatnation             87
151   T.J. Hockenson       Whodatnation             98
152   Marquise Brown       Whodatnation             84
153  Diontae Johnson       Whodatnation             81
154        Las Vegas       Whodatnation             33

[155 rows x 3 columns]

In [4]:
def col_replace(df, column_name):
    df[column_name] = df[column_name].str.replace('.', '', regex=False)
    df[column_name] = df[column_name].str.replace('Kenneth', 'Ken', regex=False)
    df[column_name] = df[column_name].str.rstrip(' III')
    df[column_name] = df[column_name].str.rstrip(' II')
    return df

In [5]:
TradeValue_df = col_replace(TradeValue_Class.all_dfs, 'Player')
team1_df = col_replace(team1.roster_df, 'player_name')

In [6]:
all_df = pd.merge(TradeValue_df,team1_df,left_on='Player',right_on='player_name',how='left')

In [7]:
all_df.sort_values('Value', ascending=False).to_csv('test.tab', sep='\t')